body {
    background-color: #444444;
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

#task-list {
    margin: 20px;
    font-size: larger;;
}

.task {
    display: flex;
    justify-content: space-between;
    background-color: #300909;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: white;
    color: white;
}
.edit
{
    background-color: white;
}

#add-task {
    margin: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 5px;
    font-size: larger;
}

button {
    padding: 5px 10px;
    margin: 0 5px;
    font-size: larger;
    background-color:white;
}
#add-button
{
    background-color: white;
}
#add-button:hover
{
   background-color: green;
   color: white;
}
.delete:hover
{
  background-color: rgb(199, 9, 9);
  color:white;
}
.edit:hover
{
    background-color: rgb(235, 235, 4);
    color: black;
}